body{
	margin: 0px; border: 0px; padding: 0px;
	background-color: #444;
}
#container{
	max-width: 600px;
	margin: auto;
	width: 90%;
	height: 600px;
}
header{
	font-family: 'Indie Flower', cursive;
	color: white;
	font-size: 60px;
	text-align: center;
}
#clock{
	height: 300px;
}
#time{
	width: 250px;
	margin: auto;
	text-align: center;
	height: 80px;
	font-size: 60px;
	font-family: 'Orbitron', sans-serif;
	color: white;
	font-family: cursive;
	border: 3px white solid;
	background-color: #2A3132;
}
#status{
	width: 250px;
	margin: auto;
	height: 30px;
	color: black;
	background-color: #ce5a57;
	font-size: 25px;
	
	font-family: 'Indie Flower', cursive;
	text-align: center;
	border: 3px white solid;
	border-top: none;

}
#buttons{
	width: 250px;
	margin: auto;
	height: 30px;
	font-size: 25px;
	font-family: 'Indie Flower', cursive;
	border: 3px white solid;
	border-top: none;
}
.button{
	float: left;
	width: 124px;
	text-align: center;
	height: 30px;
	color: white;
}
.button, #set, .cal-buttons{
	cursor: pointer;
} 
#stop{
	background-color: #BA5536;
	border-right: 2px white solid;
}
#start{
	background-color: #80BD9E;
}
#settings{
	width: 256px;
	margin: auto;
	height: 35px;
}
#set{
	width: 45px;
	font-size: 30px;
	color:white ;
	border: 3px white solid;
	border-top: none;
	text-align: center;
	background-color: #aaa;
}
#set-icon{
	color: #444;
}
@media (max-width: 500px)
{
	header{
		font-size: 30px;
	}
}
#menu{
	width:256px;
	margin:auto;
	visibility: hidden;
}
#true-menu{
	width: 45px;
	height: 117px;
	bottom: 30px;
	border: 3px solid white;
	background: #336b87;
	z-index: -1;
	color: white;
}
.cal-buttons{
	float: left;
	width: 21px;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	font-size: 20px;
	color: white;
	background: #444;
	
}
.time-set{
	font-family: 'Orbitron', sans-serif;
	font-size: 13px;
	text-align: center;
	border-bottom: solid white 3px;
}
.timer-name{
	font-weight: inherit;
}
.plus{
	border-right: 2px solid white;
}
#set:hover{
	opacity: 0.7;
}
.button:hover{
	opacity: 0.7;
}
.cal-buttons:hover{
	opacity: 0.8;
}
footer{
	position: relative;
	width: 250px;
	margin: auto;
	text-align: center;
	color: white;
	font-family: 'Indie Flower', cursive;
	font-size: 22px;
}